<!DOCTYPE html>
<html>
<head>
	<title>Туристическая раскладка продуктов в поход</title>
	<meta charset='utf8'>
	<meta name='description' content='Туристическая раскладка продуктов. Расчет продуктов в поход. Точная калькуляция, автоматическое распределение веса между туристами. Программа подсчитывает продукты в поход, пропорционально распределяет вес, подсчитывает расходы. Буквально за 5 минут можно получить на руки полный список необходимого снаряжения и продуктов. Останется только купить и не забыть взять в поход!'>

	<!-- Bootstrap connection-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
<!-- favicon connection -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">



	<!-- JQuery & JQuery-UI scripts 
	<script src="lib/jquery-2.1.4.min.js"></script> -->
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="widgets/jquery.inputmask.bundle.js" ></script>

	<!-- Styles 
	<link rel="stylesheet" href="css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"> 	
</head>


<body ng-app='Raskladka'>
<div ng-controller='MainController'>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click='noEdit()' ui-sref="home"><span class="glyphicon glyphicon-tent"></span> Раскладка в поход</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class='collapse navbar-collapse' id='myNavbar'>
    <ul class="nav navbar-nav">
      <li><a ng-click='noEdit()'ui-sref="loadReady">Загрузить раскладку</a></li>
      <li><a ng-click='reset()' href="">Сделать новую</a></li>
      <li ng-disabled='!admin' class='dropdown'>
      	<a class="btn dropdown-toggle" data-toggle='dropdown' ng-disabled='!admin'>Админ
      	<span class="caret"></span></a>
      	<ul class="dropdown-menu">
          <li><a class="btn" ng-disabled='!admin' ng-click='saveDataToServer()'>Сохранить</a></li>
          <li><a class="btn" ng-disabled='!admin' ng-click='eraseTrip()'>Стереть</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-show='!admin' class='btn' data-toggle="modal" data-target="#signinModal" ><span class="glyphicon glyphicon-user"></span> Зарегиться</a></li>
      <li><a ng-show='admin' class='disabled'><span class="glyphicon glyphicon-ok"></span> Привет, {{login}}</a></li>
      <li><a ng-show='!admin'class='btn' data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
      <li><a ng-show='admin' class='btn' data-toggle="modal" data-target="#exitModal"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li> 
    </ul>
    </div>
  </div>
</nav>

<ul class="nav nav-tabs" ng-show='mainCtrl.edit'>
  <li ui-sref-active="active"><a ui-sref="createNew">Общая информация</a></li>
  <li ui-sref-active="active"><a ui-sref="menuSelect">Меню по дням</a></li>
  <li ui-sref-active="active"><a ui-sref="addMembers">Личная информация</a></li>
  <li ui-sref-active="active"><a ui-sref="addEquipment">Снаряжение</a></li>
  <li ui-sref-active="active"><a ui-sref="setProducts">Продукты</a></li>
  <li ui-sref-active="active"><a class="btn" ng-disabled='!finished' href="" ng-click='goToExpenses()'>Расходы</a></li>
</ul>
<br>
<span ng-if='isFinished()'></span>
<show-trip ng-show='mainCtrl.edit'></show-trip>

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Введите логин и пароль</h4>
      </div>
      
      <div class="modal-body">
      	<form name='enter'>
	      <div class="form-group">	      
	  	  	<label for="login">Логин:</label>
	  		<input type="text" class="form-control" id="login" name='login' ng-maxlength="50" ng-model='login'>
	  		<span ng-if="enter.login.$error.maxlength">
            Это слишком уж длинный логин, таких не бывает!
        	</span>        
		  </div>

		  <div class="form-group">
		  	<label for="pwd">Пароль:</label>
		  	<input type="password" class="form-control" id="pwd" name='password' ng-maxlength="50" ng-model='password'>
		  	<span ng-if="enter.password.$error.maxlength">
            Это слишком уж длинный пароль, таких не бывает!
        	</span> 
		  </div> 
		</form>
         
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" ng-disabled="enter.$invalid" ng-click="checkAdmin(login, password)" 
      	data-dismiss="modal">
      	Войти</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>

  </div>
</div>

<div id="signinModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Введите логин и пароль</h4>
      </div>
      
      <div class="modal-body">
      	<form name='enter'>
	      <div class="form-group">	      
	  	  	<label for="login">Логин:</label>
	  		<input type="text" class="form-control" id="login" name='login' ng-maxlength="50" ng-model='login'>
	  		<span ng-if="enter.login.$error.maxlength">
            Это слишком уж длинный логин, таких не бывает!
        	</span>        
		  </div>

		  <div class="form-group">
		  	<label for="pwd">Пароль:</label>
		  	<input type="password" class="form-control" id="pwd" name='password' ng-maxlength="50" ng-model='password'>
		  	<span ng-if="enter.password.$error.maxlength">
            Это слишком уж длинный пароль, таких не бывает!
        	</span> 
		  </div> 
		</form>
        
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" ng-disabled="enter.$invalid" ng-click="checkUser(login, password)" 
      	data-dismiss="modal">
      	Регистрация</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>

  </div>
</div>


<div id="exitModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Точно выйти?</h4>
      </div>
      <div class="modal-body">
        <p>С выходом из аккаунта ты не сможешь сохранять и удалять текущую раскладку</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" ng-click='adminExit()' data-dismiss="modal">Выйти!</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Не выходить</button>
      </div>
    </div>

  </div>
</div>
	<div class='container'><ui-view></ui-view></div>
	
</div>

<footer class="container-fluid text-center">
<br>
<br>
<br>
<br>
<br>
<br>


	<h4><i>Copyright 2017 by Kokon&Co. All rights reserved!!!</i></h1>
	

</footer>





<!-- Script & CSS for TimePicker Widget -->	
	<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>  



<!-- Libs -->
 	
 	<script src="lib/ajax-utils.js"></script>  
   <!--<script src="lib/bootstrap.min.js"></script> -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
    
<!-- Main Application Module -->
    <script src="src/raskladka.module.js"></script>

<!-- Main Router -->
    <script src="src/raskladka.routes.js"></script>

<!-- Controllers -->
    <script src="src/startcreating.controller.js"></script>
    <script src="src/addmembers.controller.js"></script>
     <script src="src/addequipment.controller.js"></script>
    <script src="src/raskladka.controller.js"></script>
    <script src="src/menuselect.controller.js"></script>
    <script src="src/setproducts.controller.js"></script>
    <script src="src/showready.controller.js"></script>
    <script src="src/loadready.controller.js"></script>    

<!-- Custom Validators -->
    <script src="src/validators.js"></script>

<!-- Services -->
    <script src="src/newtrip.service.js"></script>

</body>
</html>    