<!DOCTYPE html>
<html lang="en">
<head>
	<title>Туристическая раскладка для чайников 3.0</title>
	<meta charset='utf8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff"> -->

	<!-- JQuery & JQuery-UI scripts -->
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="widgets/jquery.inputmask.bundle.js" ></script>

	<!-- Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">	
 	
</head>


<body ng-app='Raskladka'>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">Раскладка 4.0</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a ui-sref="loadReady">Загрузить раскладку</a></li>
      <li><a ng-click='reset()' ui-sref="createNew">Сделать новую</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> 

<div ng-controller='MainController' class="container-fluid">



 <!-- <form>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
  </div>
 </form>  -->
<!-- <div>
	<form>			
		<input type="checkbox" ng-model='admin' ng-click='adminStatus()'> Войти как админ(Лидер!)			
	</form>
</div> -->
<!-- <button type="button" class="btn btn-primary" ng-disabled='!admin' ng-click='saveDataToServer()'>Сохранить все данные</button>
<button type="button" class="btn btn-primary" ng-disabled='!admin' ng-click='eraseTrip()'>Удалить этот поход из БД</button>
	
	<div class="jumbotron"> 
	<a ui-sref="loadReady" role="button" class="btn btn-success btn-lg btn-block">Загрузить раскладку</a>
	<a ng-click='reset()' ui-sref="createNew" role="button" class="btn btn-warning btn-lg btn-block">Сделать новую</a>

	<!-- <ul>
		<li><a ui-sref="loadReady">Загрузить подготовленную раскладку</a></li>
		<li><a ng-click='reset()' ui-sref="createNew">Сделать новую раскладку</a></li>
	</ul> -->
</div>
	</div>
	<ui-view></ui-view> 
	</div>

<div>
	<br>
	<br>
	<br>
	<br>
 Раскладка для чайников 3.1 - Beta
	Copyright 2017 by.....
	<br>
	<br>
	<br>
	<br>

</div>





<!-- Script & CSS for TimePicker Widget -->	
	<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>  



<!-- Libs -->
 	
 	<script src="lib/ajax-utils.js"></script>  
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
    
<!-- Main Application Module -->
    <script src="src/raskladka.module.js"></script>

<!-- Main Router -->
    <script src="src/raskladka.routes.js"></script>

<!-- Controllers -->
    <script src="src/startcreating.controller.js"></script>
    <script src="src/addmembers.controller.js"></script>
     <script src="src/addequipment.controller.js"></script>
    <script src="src/raskladka.controller.js"></script>
    <script src="src/menuselect.controller.js"></script>
    <script src="src/setproducts.controller.js"></script>
    <script src="src/showready.controller.js"></script>
    <script src="src/loadready.controller.js"></script>    

<!-- Custom Validators -->
    <script src="src/validators.js"></script>

<!-- Services -->
    <script src="src/newtrip.service.js"></script>

</body>
</html>    