

<br>
<button type="button" class="btn btn-primary" ng-disabled="regEquip.$invalid || !equipCtrl.members[0]" ng-click='equipCtrl.addEquip()'>Добавить снарягу</button>
<!-- <input type="submit" value="Дальше" ng-disabled="regEquip.$invalid || equipCtrl.isTimeOut() || equipCtrl.isDoubleEquip()" ng-click='equipCtrl.submit()' 
ui-sref='setProducts({fromDB: 0})'> -->
<br>
<span ng-if='equipCtrl.formError()'></span>

<form name='regEquip' novalidate>
<div class="table-responsive">
<table class='table table-condensed table-striped'>
<thead>
<tr ng-if='equipCtrl.equipment.length'>
	<th style="width: 35%;">Снаряга</th> <th style="width: 25%;">Вес</th> <th style="width: 15%;">Берун</th> <th style="width: 15%;">Несун</th><th style="width: 10%;">Удалить</th>
</tr>
</thead>
<tbody>
<tr ng-repeat='eq in equipCtrl.equipment'>
	
	<td>
	<ng-form name='name'>
		<input type="text" class="form-control"   placeholder = "Снаряжение {{$index}}"	ng-model = 'eq.equipName' maxlength='25' />
	</ng-form>

	</td>
	
	<td>
	
	<input type="number" class="form-control" placeholder='вес в кг' ng-model='eq.equipWeight' 
	 pattern='^\d{1,2}([.]\d{1,2})?$' step='0.1' weight-valid min='0.1' max='20'/>
	
	</td> 	
	
	
	<td>
		<select name='berun' ng-model='eq.berun' required>
		  <option ng-repeat='member in equipCtrl.members' value="{{member.number.toString()}}" >{{member.name}}</option>
		</select>		
	</td>
	<td>
	    <select name="nesun" ng-model='eq.nesun' required>
		  <option ng-repeat='member in equipCtrl.members' value="{{member.number.toString()}}">{{member.name}}</option>
		</select>	
	</td>
	<td>
		<button type="button" class="btn btn-default btn-sm" ng-click='equipCtrl.removeEquip($index)'>
          <span class="glyphicon glyphicon-remove"></span>
        </button>
	</td>

</tr>
</tbody>
</table>
</div>
</form>

<!-- <input type="submit" value="Сохранить все введенные данные" ng-disabled="regEquip.$invalid || equipCtrl.isTimeOut()" 
ng-show = 'equipCtrl.admin' ng-click='equipCtrl.submit(true)'> -->


<div ng-messages="regEquip.$error" style="color:red" role="alert">
    <!-- <div ng-message="required">Все поля обязательные!</div> -->
     <div ng-message="max">Вес не больше 20!</div>
     <div ng-message="number">Что-то не то с весом...</div>
    <div ng-message="weightValid">Формат веса выглядит странно</div>
    <!-- <div ng-message="pattern">Wrong pattern</div> -->   
    <div ng-message="min">Вес не меньше 100 грамм!</div>
</div>

<span ng-show='equipCtrl.isDoubleEquip()'>Одинаковая снаряга дважды на одном участнике!</span>

