<div ng-if='memCtrl.formError()'></div>
<!-- <input type="submit" value="Дальше" ng-disabled="memCtrl.isDoubleName()" ng-click='memCtrl.submit()' 
ui-sref='addEquipment'>	 -->
<br>

<form name='regMem' novalidate>
<div class="table-responsive">
<table class='table table-condensed table-striped'>
<tr>
	<th style="width: 25%;">Участники</th> <th style="width: 25%;">Телефон</th> <th style="width: 5%;">Пол</th>  <th style="width: 10%;">Не ем/пью:</th><th style="width: 30%;"></th><th style="width: 5%;">Сохранить!</th>
</tr>

<tr ng-repeat='member in memCtrl.members'> 

	<td><input type="text" class="form-control"  placeholder = "Участник {{member.number}}"	ng-model = 'member.name' maxlength='20'/></td>	
	<td><input type="text" class="form-control"   phone-valid placeholder='0XX-XXX-XX-XX' ng-model = 'member.phone'/></td> 

</form>		
	<td>
	<form name='sexSelect'> 
	  <input type="radio" name="gender" value="male" ng-model = 'member.sex'> М<br>
	  <input type="radio" name="gender" value="female" ng-model = 'member.sex'> Ж
	</form>
	</td>
  
	<td>		
		<select multiple size='3' ng-model='member.noEat'>
		<option ng-repeat='product in memCtrl.products' value="{{product}}" >{{product}}			
		</option>
		</select>	
	</td>
	<td><span>{{ memCtrl.noEatReplace(member) }}</span></td>
	<td> 
		<button type="button" class="btn btn-default btn-sm" ng-disabled="regMem.$error.phoneValid || memCtrl.isDoubleName()" 
		ng-click='memCtrl.saveMemberData(member)'><span class="glyphicon glyphicon-ok"></span> Ok 
        </button>
    </td>
	</tr>
</table>
</div>


<span ng-if="regMem.$error.phoneValid">Если уж пишешь телефон, то пиши правильно! (0ХХ-ХХХ-ХХ-ХХ)</span>
<br>
<span ng-if="memCtrl.isDoubleName()">Одинаковые имена нельзя!</span>
<br>


