<div class='jumbotron'>
<h1> Программа меню-раскладка продуктов в поход</h1>
<h2> Что брать в поход?</h2>
<p> Тем, кто планирует туристический поход на несколько дней,  
программа меню-раскладка продуктов в поход значительно упростит подготовку. 
Программа раскладка подскажет, какую еду брать в поход и поможет взять необходимое снаряжение для похода в горы. 
Программа рассчитает общий вес продуктов и снаряжения и распределит его поровну между участниками. 
На выходе каждый турист получит список вещей в поход и полный список еды, которую он должен купить. 
Также программа меню-раскладка учитывает расходы каждого участника и сводит общий баланс. Очень удобно! Пользуйтесь!</p>	
</div>






