<form name='loadForm' novalidate>

		<label for="tripName">Название похода:</label>
		<input type="text" class="form-control" name="tripName" placeholder="Введите название похода для загрузки из БД"
		ng-model = 'loadCtrl.tripName' ng-maxlength="50"/>			
		<span ng-if="loadForm.tripName.$error.maxlength">
            Это слишком уж длинное название, таких не бывает!
        </span>        
        <br>

		<label for="tripPassword">Пароль доступа:</label>
		<input type="password" class="form-control" name="tripPassword" placeholder="Введите пароль доступа"
		ng-model = 'loadCtrl.tripPassword' ng-maxlength="50"/>			
		<span ng-if="loadForm.tripPassword.$error.maxlength">
            Это слишком уж длинный пароль, таких не бывает!
        </span>        
        <br>


        <button 
          ng-disabled="loadForm.$invalid"
          ng-click="loadCtrl.checkDB()"
          ui-sref= "createNew({fromDB: 1})">Загрузить!
        </button>
</form>

<h1>Загрузка вашей походной раскладки</h1>
<h2>(или скачать образец раскладки еды в походе на 6 человек)</h2>
<p>Введи имя и пароль вашего похода и получи доступ к данным вашей раскладки питания и походного снаряжения. 
Если нужен шаблон готовой раскладки на 6 человек и 3 ночевки - введи имя похода: "<b>Наш поход</b>" и пароль: "<b>раскладка</b>".
Загрузится пример раскладки в поход на 6 человек - его можно отредактировать под параметры вашего похода и сохранить под другим именем, с другим паролем.
Для этого нужно будет зарегиться: придумать логин и пароль админа вашего похода</p>